doctrine:
    dbal:
        default_connection: default
        connections:
            default:
                url: '%env(resolve:DATABASE_URL)%'
                profiling_collect_backtrace: '%kernel.debug%'
                use_savepoints: true
                schema_filter: ~^(messenger_messages)$~
            registry_ch:
                url: 'sqlite:///%env(resolve:REGISTRY_DATABASE_CH_FILE)%'
                profiling_collect_backtrace: '%kernel.debug%'
                use_savepoints: true

    orm:
        default_entity_manager: default
        auto_generate_proxy_classes: true
        enable_lazy_ghost_objects: true
        entity_managers:
            default:
                connection: default
                report_fields_where_declared: true
                validate_xml_mapping: true
                auto_mapping: false
                naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
                identity_generation_preferences:
                    Doctrine\DBAL\Platforms\PostgreSQLPlatform: sequence
                mappings:
                    BuildingData:
                        type: attribute
                        is_bundle: false
                        dir: '%kernel.project_dir%/src/Domain/BuildingData/Entity'
                        prefix: 'App\Domain\BuildingData\Entity'
                        alias: BuildingData
                    Resolving:
                        type: attribute
                        is_bundle: false
                        dir: '%kernel.project_dir%/src/Domain/Resolving/Entity'
                        prefix: 'App\Domain\Resolving\Entity'
                        alias: Resolving
            registry_ch:
                connection: registry_ch
                report_fields_where_declared: true
                validate_xml_mapping: true
                auto_mapping: false
                mappings:
                    DataCH:
                        is_bundle: false
                        dir: '%kernel.project_dir%/src/Domain/Registry/DataCH/Entity'
                        prefix: 'App\Domain\Registry\DataCH\Entity'
                        alias: DataCH
        controller_resolver:
            auto_mapping: false

when@test:
    doctrine:
        dbal:
            # "TEST_TOKEN" is typically set by ParaTest
            dbname_suffix: '_test%env(default::TEST_TOKEN)%'

when@prod:
    doctrine:
        orm:
            auto_generate_proxy_classes: false
            proxy_dir: '%kernel.build_dir%/doctrine/orm/Proxies'
            query_cache_driver:
                type: pool
                pool: doctrine.system_cache_pool
            result_cache_driver:
                type: pool
                pool: doctrine.result_cache_pool

    framework:
        cache:
            pools:
                doctrine.result_cache_pool:
                    adapter: cache.app
                doctrine.system_cache_pool:
                    adapter: cache.system
