**/*.cache
**/*.dist
**/*.dist.php
**/*.dist.xml
**/*.log
**/*.md
**/*.php~
**/._*
**/.docker-volumes/
**/.dockerignore
**/.DS_Store
**/.idea
**/.git/
**/.gitattributes
**/.gitignore
**/.gitmodules
**/Thumbs.db

.editorconfig
.env.local
.env.*.local
.env.local.php
.env.test

# CI Tools and pipelines
.gitlab-ci/
.gitlab-ci.yml
.phive/
tools/
Justfile
rector.php
phpstan.*

compose*.yaml
docker/Dockerfile

docs/

public/bundles/
tests/
var/*
vendor/
