root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{js,html,ts,tsx}]
indent_style = space
indent_size = 2
max_line_length = 80

[*.{json,geojson}]
indent_style = space
indent_size = 2

[*.sh]
indent_style = tab
indent_size = 4

[.gitlab-ci.yml]
indent_style = space
indent_size = 2

[phpunit.xml{,.dist}]
indent_style = space
indent_size = 2

[*.neon]
indent_style = space
indent_size = 2

[composer.json]
indent_style = space
indent_size = 4

[compose{,.*}.{yaml,yml}]
indent_style = space
indent_size = 2
