/.docker-volumes/
/tools/*

/phpstan.neon
/phpunit.xml
/.php-cs-fixer.php
/compose.override.yaml
/config/reference.php

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

